*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #BA4949;
}
.logo{
    width: 20px;
    margin-right: 4px;
}
h1{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
ul li a{
 text-decoration: none;
 color: #fff;
}   
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
ul{
    display: flex;
    list-style: none;
    gap: 10px;
}
ul li a:hover{
    color: #000;
}